*{
    margin : 0;
    padding: 0;
}
h1{
    font-size: 50px;
    color: #461220;
}
body{
    background-color: #FED0BB;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.box{
    height: 18vmin;
    width: 18vmin;
    background-color: white;
    border: 2px black solid;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 10vmin;
    color: #B23A48;
    
}

#reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #8C2F39 ;
    color: white;
    border-radius: 1rem;
    border: none;
}